openapi: 3.0.0
info:
  title: QlicknPay APIs
  version: '1.0'
  description: |-
    Welcome to the QlicknPay API! You can use our API to access QlicknPay API endpoints to start request and collecting payment.

    In order to use the API, you will need to get the following credentials ready. The credentials can be retrieved in QlicknPay Payment Gateway portal, under Manage API Tab. Get your API Key information and Merchant ID as sample below. This information is extremely sensitive. Do not disclose to anyone.

    All API requests must be made over HTTPS. Calls made over plain HTTP will fail. You must authenticate all requests.
  contact:
    name: Support
    url: 'https://www.qlicknpay.com/contact'
    email: support@qlicknpay.com
  termsOfService: 'https://www.qlicknpay.com/qlicknpay_agreement.pdf'
servers:
  - url: 'https://www.qlicknpay.com/api/'
paths:
  v1/receiver:
    post:
      summary: Standard Payment Gateway
      tags: []
      responses:
        '200':
          description: Directly to Payment Gateway
        '400':
          description: Invalid format data entered
        '401':
          description: Invalid Merchant ID or API Key
      operationId: post-v1-receiver
      description: This feature let your payer to directly to QlicknPay Payment Gateway and select payment option provided.
      parameters:
        - schema:
            type: number
            example: 10001
          in: query
          name: merchant_id
          description: Your merchant ID
          required: true
        - schema:
            type: string
            pattern: '^[a-zA-Z0-9]+$'
            example: INV0001
          in: query
          name: invoice
          description: Unique invoice number
          required: true
        - schema:
            type: number
            format: double
            minimum: 1.5
            example: 250
          in: query
          name: amount
          description: Final amount to be paid by buyer
          required: true
        - schema:
            type: string
            minLength: 1
            maxLength: 1000
          in: query
          name: payment_desc
          description: Purpose of payment
          required: true
        - schema:
            type: string
            pattern: '^[a-zA-Z0-9]+$'
            example: dc8e364d222d6025cbc505674b7012df
          in: query
          name: hash
          description: "The secure hash string to validate the payment request sent through our Payment Gateway. Follwing the format of the hash string is constructed as follows encryption method:\nmd5(YOURAPIKEY|merchant_id|invoice|amount|payment_desc) "
          required: true
        - schema:
            type: string
            example: John
          in: query
          name: buyer_name
          description: "Buyer's name"
        - schema:
            type: string
            example: john@domain.com
            format: email
          in: query
          name: buyer_email
          description: "Buyer's email. Buyer will receive payment notification at this address if specified"
        - schema:
            type: string
            pattern: "^(\\+?6?01)[0-46-9]-*[0-9]{7,8}$"
            example: '+60171234567'
          in: query
          name: phone
          description: "Buyer's phone number"
        - schema:
            type: string
            example: '10-3, 3rd Floor Jln PJU 5/9'
          in: query
          name: add_line_1
          description: "Buyer's address line 1"
        - schema:
            type: string
            example: Dataran Sunway Kota Damansara
          in: query
          name: add_line_2
          description: "Buyer's address line 2"
        - schema:
            type: integer
          in: query
          name: postcode
          description: "Buyer's postcode"
        - schema:
            type: string
            example: Petaling Jaya
          in: query
          name: city
          description: "Buyer's city location"
        - schema:
            type: string
            example: Comment Here For Merchant Reference
          in: query
          name: comment
          description: "Buyer's additional comments / notes on the purchase"
        - schema:
            type: string
            format: uri
            example: 'https://www.example.com/callback'
          in: query
          name: callback_url_be
          description: Callback URL for your back-end process
        - schema:
            type: string
            example: 'https://www.example.com/callback_success'
          in: query
          name: callback_url_fe_succ
          description: Callback URL for your front-end successful transaction process
        - schema:
            type: string
            example: 'https://www.example.com/callback_success'
          in: query
          name: callback_url_fe_fail
          description: Callback URL for your front-end failed transaction process
        - schema:
            type: string
            example: 'variable1|variable2'
          in: query
          name: baggage_variable
          description: Name of the variable
        - schema:
            type: string
            example: ''
          in: query
          name: "* variable in baggage_variable *\t"
          description: Value for each variable
        - schema:
            type: string
            example: Payment Header Title
          in: query
          name: header_title
          description: Modify your company name at payment gateway pages
        - schema:
            type: string
            example: support@merchant.com
          in: query
          name: header_email
          description: Modify your company email address at payment gateway pages
        - schema:
            type: string
            example: '+603283928242'
          in: query
          name: header_phone
          description: Modify your company phone number at payment gateway pages
    parameters: []
  v1/create_bill:
    post:
      summary: Create Bill
      tags:
        - create_bill
      responses:
        '200':
          description: Successfully created payment URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    description: Response status from QlicknPay
                  url:
                    type: string
                    description: Payment URL
              examples:
                Example:
                  value:
                    response: '00'
                    url: 'https://www.qlicknpay.com/receiver-disp?34-INV0001-024939-iXO'
        '400':
          description: Fail to create payment URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    description: Response status from QlicknPay
                  msg:
                    type: string
                    description: Error messages
              examples:
                Example:
                  value:
                    response: '99'
                    msg: Fail to created bill.
      operationId: post-v1-create_bill
      description: 'You can use this API to retrieve specific payment URL. This URL is only for a single payment and no have no time limit. '
      parameters:
        - schema:
            type: integer
            example: 10010
          in: query
          name: merchant_id
          description: Your merchant ID
          required: true
        - schema:
            type: string
            pattern: '^[a-zA-Z0-9]+$'
            example: FS789
          in: query
          name: invoice
          description: Unique invoice number
          required: true
        - schema:
            type: number
            format: float
            minimum: 1.5
            example: 150
          in: query
          name: amount
          description: Final amount to be paid by buyer
          required: true
        - schema:
            type: string
            example: Parking Fee
          in: query
          name: payment_desc
          description: Purpose of payment
          required: true
        - schema:
            type: string
            example: fc85b97551f5a2b8bf28d916f2f8055d
          in: query
          name: hash
          description: "The secure hash string to validate the payment request sent through our Payment Gateway. Follwing the format of the hash string is constructed as follows encryption method:\nmd5(YOURAPIKEY|merchant_id|invoice|amount|payment_desc) "
          required: true
        - schema:
            type: string
            example: John
          in: query
          name: buyer_name
          description: "Buyer's name"
        - schema:
            type: string
            format: email
            example: John@domain.com
          in: query
          name: buyer_email
          description: "Buyer's email. Buyer will receive payment notification at this address if specified"
        - schema:
            type: string
            pattern: "^(\\+?6?01)[0-46-9]-*[0-9]{7,8}$"
            example: '+6017123123'
          in: query
          name: phone
          description: "Buyer's phone number"
        - schema:
            type: string
            example: '10-3, 3rd Floor Jln PJU 5/9'
          in: query
          name: add_line_1
          description: "Buyer's address line 1"
        - schema:
            type: string
            example: Dataran Sunway Kota Damansara
          in: query
          name: add_line_2
          description: "Buyer's address line 2"
        - schema:
            type: string
            example: '47810'
          in: query
          name: postcode
          description: "Buyer's postcode"
        - schema:
            type: string
            example: Petaling Jaya
          in: query
          name: city
          description: "Buyer's city location"
        - schema:
            type: string
            example: Selangor
          in: query
          name: state
          description: "Buyer's state location"
        - schema:
            type: string
            example: Comment Here For Merchant Reference
          in: query
          name: comment
          description: "Buyer's additional comments / notes on the purchase"
        - schema:
            type: string
            format: uri
            example: 'https://www.example.com/callback_url_be'
          in: query
          name: callback_url_be
          description: Callback URL for your back-end process
        - schema:
            type: string
            format: uri
            example: 'https://www.example.com/callback_fe_succ'
          in: query
          name: callback_url_fe_succ
          description: Callback URL for your front-end successful transaction process
        - schema:
            type: string
            example: 'https://www.example.com/callback_url_fe_fail'
          in: query
          name: callback_url_fe_fail
          description: Callback URL for your front-end failed transaction process
        - schema:
            type: string
            example: 'variable1|variable2|variable3|variable4'
          in: query
          name: baggage_variable
          description: Name of the variable
        - schema:
            type: string
            example: Payment Title
          in: query
          name: header_title
          description: Modify your company name at payment gateway pages
        - schema:
            type: string
            example: contact@gmail.com
          in: query
          name: header_email
          description: Modify your company email address at payment gateway pages
        - schema:
            type: string
            example: '0123456789'
          in: query
          name: header_phone
          description: Modify your company phone number at payment gateway pages
    parameters: []
  v1/requery:
    post:
      summary: Get Payment Status
      tags:
        - requery
      responses:
        '200':
          description: Sample response from FPX payment
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    description: Response status from QlicknPay
                  fpx_fpxTxnTime:
                    type: string
                    description: FPX Transaction time
                  fpx_fpxTxnId:
                    type: string
                    description: FPX Transaction ID
                  fpx_buyerName:
                    type: string
                    description: FPX buyer name
                  fpx_txnCurrency:
                    type: string
                    description: FPX Currency
                  fpx_sellerOrderNo:
                    type: string
                    description: FPX Seller Order Number
                  invoice:
                    type: string
                    description: Invoice No
                  fpx_txnAmount:
                    type: string
                    description: Amount
                  fpx_buyerBankBranch:
                    type: string
                    description: Name of the Bank
                  status_code:
                    type: string
                    description: Payment Status Code
                  status:
                    type: string
                    description: Payment Status
              examples:
                Example:
                  value:
                    response: '00'
                    fpx_fpxTxnTime: '13 February 2019 9:07PM'
                    fpx_fpxTxnId: '1902132108200234'
                    fpx_buyerName: MOHD SHAHRUL IZWAN BIN PU
                    fpx_txnCurrency: MYR
                    fpx_sellerOrderNo: 10020-256552-010742-mE
                    invoice: 10020-256552-010742-mE
                    fpx_txnAmount: '1.50'
                    fpx_buyerBankBranch: MAYBANK2U
                    status_code: '00'
                    status: Transaction Approved
        '400':
          description: Invalid data requested
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    description: Response status from QlicknPay
                  msg:
                    type: string
                    description: Error messages
              examples:
                Example:
                  value:
                    response: '99'
                    msg: Invalid invoice number
      operationId: post-v1-requery
      description: "Sometimes, the system may occur a problem where it does not notify the merchant regarding customer's payment status. This features enable merchant to retrieve their transaction status by sending a request to the bank system. Checking transaction status will send an enquiry request to FPX, Mastercard or PayPal."
      parameters:
        - schema:
            type: integer
            example: 10001
          in: query
          name: merchant_id
          description: Your merchant ID
          required: true
        - schema:
            type: string
            pattern: '^[a-zA-Z0-9]+$'
            example: 10011-FS789-20181009-Mt
          in: query
          name: invoice
          description: Your invoice number
          required: true
        - schema:
            type: integer
            example: '1'
          in: query
          name: method
          description: "Transaction method. Value '1' means payment is using QlicknPay Payment Gateway. Meanwhile, value '2' means payment is using QlicknPay SMS/Email Notification Invoices"
          required: true
        - schema:
            type: string
            example: fc85b97551f5a2b8bf28d916f2f8055d
          in: query
          name: hash
          description: 'The secure hash string to validate the request. Hashing format is md5(merchant_id|api|$invoice|method)'
          required: true
    parameters: []
components:
  schemas: {}
  securitySchemes: {}
